body{
    background-color:lightblue;
      }
    .nav-bar{
        margin: auto;
      padding: auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height:1.2cm;
      width: 100%;
      background:orange
    }
    #footer{
   
        margin:550px;
        padding: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-height:1cm;
        
    
    }
    .container{
    align-items:right;
    }
    .welcome{
     margin:200px;
     align-items: center;
     text-align: center;
    }
h1{
    text-align: center;
}